/other/
/__pycache__/
/output/
TODO.md
*.sublime-project
*.sublime-workspace
output_tex/resume.run.xml
output_tex/resume.log
output_tex/resume.blg
output_tex/resume.bbl
output_tex/resume.aux
output_tex/resume-blx.bib
.idea/dictionaries/Panagiotis.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Vitae.iml
.idea/workspace.xml
output_tex/Angeloudis-CV.pdf
output_tex/resume.pdf
output_tex/resume.tex
output_tex/res.cls
output_tex/publications.bib
