## Change delimiters for Cheetah
#compiler-settings
cheetahVarStartToken = ;
directiveStartToken = !
#end compiler-settings

\documentclass[margin]{res}

\newsectionwidth{1.2in}

\oddsidemargin -.6in
\evensidemargin -.6in
\textwidth=6.5in
\textheight=9.5in
\topmargin -0.4in
\footskip 0.2in
\itemsep=0in
\parsep=0in

\usepackage{fancyhdr}
\usepackage{lastpage}
\fancyhf{}
\renewcommand{\headrulewidth}{0pt}
\pagestyle{fancy}
\lfoot{\hspace{-1.3in} Page \thepage \hspace{1pt} of \pageref{LastPage}}


\hfuzz=3pt  	%suppresses overfull hbox errors
\hbadness=10000

\usepackage[T1]{fontenc}

%\Bibliography
\usepackage{enumitem}
\usepackage{etaremune}								%reverse numbering
\usepackage{csquotes}
\usepackage[hidelinks,bookmarks=true]{hyperref}
\usepackage[numbered]{bookmark}
\usepackage[url=false, defernumbers=true, maxnames=10,sortcites,backend=bibtex,sorting=ydnt]{biblatex}
\renewbibmacro{in:}{}

\DeclareFieldFormat{labelnumberwidth}{#1\adddot}	%change the biblatex numbering style from [1] to 1.


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%			%reverse numbering for articles with J prefix

\AtDataInput[article]
{%
	\xifinlistcs
	{\thefield{entrykey}}
	{entrylist:\therefsection}{}
 	{%
	  	\listcsxadd{entrylist:\therefsection}{\thefield{entrykey}}%
	  	\csnumgdef{articleentrycount:\therefsection}{%
	    \csuse{articleentrycount:\therefsection}+1}
	}
}

\DeclareFieldFormat[article]{labelnumber}{\mkbibarticledesc{#1}}

\newrobustcmd*{\mkbibarticledesc}[1]{%
   J\number\numexpr\csuse{articleentrycount:\therefsection}+1-#1}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%			%reverse numbering for articles with J prefix

\AtDataInput[incollection]{%
 \xifinlistcs{\thefield{entrykey}}{entrylist:\therefsection}{}{%
  \listcsxadd{entrylist:\therefsection}{\thefield{entrykey}}%
  \csnumgdef{bookentrycount:\therefsection}{%
      \csuse{bookentrycount:\therefsection}+1}}}

\DeclareFieldFormat[incollection]{labelnumber}{\mkbibbookdesc{#1}}

\newrobustcmd*{\mkbibbookdesc}[1]{%
   B\number\numexpr\csuse{bookentrycount:\therefsection}+1-#1\relax}

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\bibliography{publications.bib}

\newcommand\tab[1][1cm]{\hspace*{#1}}

\begin{document}

\moveleft.7\hoffset\centerline{\LARGE\textbf{Panagiotis Angeloudis} }

\vspace{.05in}\moveleft.7\hoffset\centerline{\small PHD, MEng, DIC, ACGI, MCILT}

\vspace{.1in}
\moveleft0.4\hoffset\centerline{\large{Associate Professor in Transport Systems \& Logistics} \textit{\small{(UK Senior Lecturer)}}}

\begin{resume}
\vspace{-.1in}
\moveleft.7\hoffset\centerline{\small\textit{Last updated: \today}}

\section{\textsc{Contact Information} }
\begin{tabular}{@{}p{3in}p{0.3in}p{3in}}

Room 337, Skempton Building                       & \textit{phone:}  & +44 207 594 5986  \\
Department of Civil \& Environmental Engineering  & \textit{skype:}  & panagiotis.angeloudis \\
Imperial College London                           & \textit{email:}  & p.angeloudis@imperial.ac.uk\\
London, SW7 2BU, United Kingdom                   & \textit{web:}    & imperial.ac.uk/people/p.angeloudis \\

\end{tabular}

\pdfbookmark[section]{Research Interests}{sec1}
\section{\textsc{Research Interests}}
Fleet Operations, Logistics, Shipping Markets, Network Resilience, Trajectory Optimisation, \\
Algorithmic Game Theory, Metaheuristics, Agent-Based Simulation

\pdfbookmark[section]{Academic Positions}{sec2}
\section{\textsc{Academic Positions}}
!for ;entry in ;aca_posts
	{\textbf{;entry.org_name} }, ;entry.org_location \\
	!if ;entry.roles
	!for ;entry1 in ;entry.roles
		\tab[0.2in] \textit{;entry1.position_name} \hfill {\textbf{;entry1.position_from - ;entry1.position_to} }\\
		!if ;entry1.get("subroles", None) != None
		!for ;subrole in ;entry1.subroles
			\tab[0.4in] ;subrole \\
		!end for
		!end if
	!end for
	!end if
!end for

\vspace{-0.20in}
\pdfbookmark[section]{Professional Positions}{sec3}
\section{\textsc{Professional Positions}}
!for ;entry in ;pro_posts
	{\textbf{;entry.org_name} }, ;entry.org_location \\
	!if ;entry.roles
	!for ;entry1 in ;entry.roles
		\tab[0.2in] \textit{;entry1.position_name} \hfill {\textbf{;entry1.position_from - ;entry1.position_to} }\\
		!if ;entry1.get("subroles", None) != None
		!for ;subrole in ;entry1.subroles
			\tab[0.4in] ;subrole \\
		!end for
		!end if
	!end for
	!end if
!end for

\vspace{-0.20in}
\pdfbookmark[section]{Professional Affiliations}{sec4}
\section{\textsc{Professional Affiliations}}
!for ;entry in ;pro_affiliations
    {\textbf{;entry.title} } ;entry.organisation\\
!end for

\vspace{-0.20in}
\pdfbookmark[section]{Education}{sec5}
\section{\textsc{Education}}
{\textbf{Imperial College London} }\label{sec:sceducation}, United Kingdom\\
\textit{PhD in Transport Engineering} \hfill {\textbf{Oct 2005 - Nov 2009} }\\
\textit{MEng in Civil \& Environmental Engineering (First Class Honours)} \hfill {\textbf{Oct 2001 - Jun 2005} }\\

\vspace{-0.1in}
\pdfbookmark[section]{Committees & Advisory}{ext_committees}
\section{\textsc{Advisory}}
\vspace{+0.1in}
!for ;entry in ;ext_committees
	\begin{minipage}{\textwidth}
	{\textbf{;entry.organisation} } \hfill {\textbf{;entry.dates} } \\
	\tab[0.2in] \textit{;entry.description}
	\end{minipage}
	\vspace{0.02in}
	\\
!end for

\vspace{-0.20in}
\pdfbookmark[section]{Research Grants}{sec6}
\section{\textsc{Research Grants}}
!set ;sumtext=0
!for ;entry in ;research_grants
	\vspace{0.03in}
	!set ;sumtext+= int(;entry.value)
	\begin{minipage}{\textwidth}
	{\textbf{;entry.name} } \hfill {\textbf{;entry.year} } \\
	\tab[0.2in] \textsterling{
	!echo("{:,}".format(int(;entry.value)).rjust(7).replace(" ","\space"))
	}
	\quad ;entry.source
	!if ;entry.get("code", None) != None
	\textit{(Grant code: ;entry.code)}
	!end if
	\end{minipage}
	\\
!end for

\vspace{-0.25in}
\textit{Total research grants: \textsterling{
!echo("{:,}".format(int(;sumtext)).rjust(7).replace(" ","\space"))
}}

\pdfbookmark[section]{Research Contracts}{sec7}
\section{\textsc{Research Contracts}}
!set ;sumtext=0

!for ;entry in ;research_contracts
	\vspace{0.03in}
	!set ;sumtext+= int(;entry.value)
	\begin{minipage}{\textwidth}
	{\textbf{;entry.name} } \hfill {\textbf{;entry.year} } \\
	\tab[0.2in] 
	##\textsterling{
	##!echo("{:,}".format(int(;entry.value)).rjust(7).replace(" ","\space"))
	##}
	##\quad  
	\textit{;entry.source}
	\end{minipage}\\
!end for


## we don't want sums for contracts
##\vspace{-0.25in}
##\textit{Total research contracts: \textsterling{
##!echo("{:,}".format(int(;sumtext)).rjust(7).replace(" "#,"\space"))
##}}

\pdfbookmark[section]{PhD Thesis Supervision}{sec8}
\section{\textsc{PhD Students}}
!for ;entry in ;phd_students
	\vspace{0.03in}
	\begin{minipage}{\textwidth}
	{\textbf{;entry.name} } \hfill {\textbf{;entry.from - ;entry.to} } \\
	\tab[0.2in] \textit{;entry.title}
	\end{minipage}
	\\
!end for

\vspace{-0.15in}
\pdfbookmark[section]{Postdoctoral Researchers}{postdocs}
\section{\textsc{Postdoctoral Researchers}}
!for ;entry in ;postdocs
	\vspace{0.03in}
	\begin{minipage}{\textwidth}
	{\textbf{;entry.name} } \hfill {\textbf{;entry.from - ;entry.to} } \\
	\tab[0.2in] \textit{;entry.project}
	\end{minipage}
	\\
!end for

\vspace{-0.10in}
\pdfbookmark[section]{Research Administration}{sec10}
\section{\textsc{Research \\ Administration}}
\vspace{0.05in}
!for ;entry in ;research_contib
	\begin{minipage}{\textwidth}
	{\textbf{;entry.area} } \\
	\vspace{0.1in}
	\begin{minipage}{\textwidth}
	\setlength{\leftskip}{0.2in}
	\textit{
	!echo(", ".join(;entry.items).strip())
	}
	\end{minipage}
	\end{minipage}
	\\
!end for

\vspace{-0.15in}
\pdfbookmark[section]{PhD Examinations}{sec11}
\section{\textsc{PhD Examinations}}
!for ;entry in ;phdexams
	\begin{minipage}{\textwidth}
	{\textbf{;entry.name} } \textit{(;entry.institution)} \hfill {\textbf{;entry.year} }
	\vspace{0.03in}
	\end{minipage}
!end for

\pdfbookmark[section]{Teaching Contributions}{sec12}
\section{\textsc{Teaching Contributions}}
!for ;entry in ;teaching_contib
	{\textbf{;entry.progamme} },\textit{;entry.role} \hfill {\textbf{;entry.years} }\\
!end for

\vspace{-0.15in}
\pdfbookmark[section]{Dissertation Supervision}{sec13}
\section{\textsc{Dissertation Supervision}}
\vspace{0.15in}
!set ;minfrom = 9999
!set ;minto = 0
!silent import copy
!silent taughtlist = list(copy.deepcopy(;taughtstudents))
%%%%%%%%%%%%%%%%%%%%%%%%%
!for ;entry in ;taughtlist
	!if int(;entry.year) < int(;minfrom)
		!set ;minfrom = ;entry.year
	!end if
	!if int(;entry.year) > int(;minto)
		!set ;minto = ;entry.year
	!end if
!end for
%%%%%%%%%%%%%%%%%%%%%%%%%%%
!set ;currentyear = ;minto
!while int(;currentyear) >= ;int(;minfrom)
	\parskip=0in
	\hangindent=0.45in
	\hangafter=1
	{\textbf{;currentyear} }
	!set ;joine = 0
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	!set ;temp = ""
	!for ;entry in ;taughtlist 
		!if (;entry.type=="MSc" and int(;entry.year) == int(;currentyear))
			!set ;temp= ;temp + str(;entry.name) +", " 
		!end if
	!end for
	!set ;temp = ;temp[:-2]
	!if ;len(temp) > 0
		\textit{MSc}: ;temp 
		!set ;joine = 1
	!end if 
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	!set ;temp = ""
	!for ;entry in ;taughtlist 
		!if (;entry.type=="MEng" and int(;entry.year) == int(;currentyear))
			!set ;temp= ;temp + str(;entry.name) +", " 
		!end if
	!end for
	!set ;temp = ;temp[:-2]
	!if ;len(temp) > 0
		!if ;joine == 1 
			{}
		!end if
		\textit{MEng}: ;temp 
		!set ;joine = 1
	!end if
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	!set ;temp = ""
	!for ;entry in ;taughtlist 
		!if (;entry.type=="UROP" and int(;entry.year) == int(;currentyear))
			!set ;temp= ;temp + str(;entry.name) +", " 
		!end if
	!end for
	!set ;temp = ;temp[:-2]
	!if ;len(temp) > 0
		!if ;joine == 1 
			{ }
		!end if
		\textit{UROP}: ;temp 
	!end if
	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
	!set ;currentyear = int(;currentyear)-1

!end while

\nocite{*}

\vspace{-0.15in}

\pdfbookmark[section]{Publications}{sec14}
\section{\textsc{Publications}}
\printbibliography[heading=none,type=article,resetnumbers=true]

\pdfbookmark[section]{Book Chapters}{sec15}
\section{\textsc{Book Chapters}}
\printbibliography[heading=none,type=incollection,resetnumbers=true]

\pdfbookmark[section]{Conferences}{sec16}
\section{\textsc{Conferences}}
\begin{etaremune}
\renewcommand\labelenumi{C\theenumi. }
!for ;entry in ;conferences
	\item
	{;entry.authors}. "{;entry.title}". \textit{;entry.conference} (;entry.year), ;entry.location, ;entry.country
!end for
\end{etaremune}

\pdfbookmark[section]{Invited Talks}{invitedtalks}
\section{\textsc{Invited \\ Talks}}
\begin{etaremune}
\renewcommand\labelenumi{T\theenumi. }
!for ;entry in ;invitedtalks
	\item
	;entry.organisation (;entry.year).\textit{"{;entry.title}"} ;entry.location, ;entry.country
!end for
\end{etaremune}

\pdfbookmark[section]{Media Coverage}{mediacoverage}
\section{\textsc{Media Coverage}}
!for ;entry in ;media_coverage
	\begin{minipage}{\textwidth}
	{\textbf{;entry.org} } (;entry.date).\textit{"{;entry.title}"}	\end{minipage}
	\\
!end for

\end{resume}
\end{document}


